<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Prononente</h1>
</div>
  
<h4 class="mb-3">Cadastrar Novo Proponente</h4>
  
<%= render "form" %>