<h1>Relat칩rio dos Funcion치rios</h1>

<% @salary_range.each do |range, quantity| %>
  <p><strong><%= range %>:</strong> <%= quantity %> funcion치rios</p>
<% end %>

<%= column_chart @chart_data, label: 'Funcion치rios por Faixa Salarial' %>